services:
  nextjs:
    container_name: 8figure-todolist
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: development
    ports:
      - "3000:3000"
    volumes:
      - ../src:/app/src
      - ../.env:/app/.env
      - ../prisma:/app/prisma
    env_file:
      - ../.env
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
